<template>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
         
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">The title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="m-t-0 m-b-0 p-t-0 p-b-0 p-l-0 p-r-0">
          <div class="p-t-30 p-b-30 p-l-30 p-r-30 p-t-xs-1s0 p-b-xs-10 p-l-xs-10 p-r-xs-10">
            <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">
              <i class="icon-close text-purple icon-sm"></i>
            </button>
            <h4 class="text-purple m-b-10">{{ modalData.projectName }}</h4>
            <p>{{ modalData.companyName}}, {{ modalData.projectYear }}</p>
            <p>{{ modalData.introText }}</p>
          </div>
            <img v-for="image in modalData.galleryImages" v-bind:key="image.index" v-bind:src="image.url" v-bind:alt="image.alt" class="gallery-images"/>

          
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default{
   name: "modalBlock",
   props:['modalData'],
   data(){
      return {
      }
   },
   methods: {
      close() {
         this.$emit('close');
      },
  }
}

</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>





