$blue: #576EF7;
$yellow: yellow;
$purple: #753a88;
$pink: #D42B85;
$dark: #484848;
$light-grey:#F4F5F5;
$transparent-black: rgba(0,0,0,0.75);
$error: #f08282;

.text-white {
   color: white;
}

.text-purple {
   color: $purple;
}

.text-blue {
   color: $blue;
}

.text-dark {
   color: $dark;
}


// Background color
.bg-white {
   background-color: white;
}

.bg-dark {
   background-color: $dark;
}

.bg-light-grey {
   background-color: $light-grey;
}