// Default Form
.form-default {

   .form-group,
   .input-group {
      margin: 0 0 20px 0;

      .form-control {
         border-radius: 25px;
         border: 2px solid $blue;
         padding: 25px 25px 26px 25px;
         border-right: 0;
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
      }

      label {
         color: $purple;
         font-size: 15px;
         font-weight: 700;
         font-family: 'Nunito', Arial, Helvetica, sans-serif;
         margin: 0 0 10px 0;
      }

      input {
         font-size: 18px;
      }

      small {
         font-size: 14px;
      }

      .error-input {
         border: 2px solid red !important;
      }

      .error-message {
         font-size: 14px;
         font-style: italic;
         margin: 5px 0 0 0;
      }

      .input-group-append {
         border: 2px solid $blue;
         border-left: 0;
         border-top-right-radius: 25px;
         border-bottom-right-radius: 25px;
         button {
            border: 0;
            padding: 0 20px 0 0;

            &:hover {
               background-color: transparent;
            }

            &:focus {
               border: 0;
            }

            .search-bar-icon{
               height: 27px;
               width: auto;
            }
         }
      }
   }

}