// Transitions 
// Usage: @include transition(color  0.75s ease-in);
@mixin transition($paraM) {
   -webkit-transition: $paraM;
   -moz-transition: $paraM;
   -o-transition: $paraM;
   -ms-transition: $paraM;
   transition: $paraM;
}

// Box Shadow
// Usage: @include shadows(10px 10px 5px 0px rgba(0,0,0,0.75));
@mixin shadows($paraM){
   -webkit-box-shadow: $paraM;
   -moz-box-shadow: $paraM;
   box-shadow: $paraM;
}

@mixin transform($transforms) {
   -moz-transform: $transforms;
     -o-transform: $transforms;
    -ms-transform: $transforms;
-webkit-transform: $transforms;
       transform: $transforms;
}

