$spaceamounts: (-5, -10, -15, -20, -25, -30, -35, -40, -50, -75, -100, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

@include media-breakpoint-only(xs) {
  @each $space in $spaceamounts {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-xs-#{$space} {
        margin-#{$side}: #{$space}px;
      }
    
      .p-#{str-slice($side, 0, 1)}-xs-#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}

@include media-breakpoint-only(sm) {
  @each $space in $spaceamounts {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-sm-#{$space} {
        margin-#{$side}: #{$space}px;
      }
    
      .p-#{str-slice($side, 0, 1)}-sm-#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  @each $space in $spaceamounts {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-md-#{$space} {
        margin-#{$side}: #{$space}px;
      }
    
      .p-#{str-slice($side, 0, 1)}-md-#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  @each $space in $spaceamounts {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-lg-#{$space} {
        margin-#{$side}: #{$space}px;
      }
    
      .p-#{str-slice($side, 0, 1)}-lg-#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}

@include media-breakpoint-only(xl) {
  @each $space in $spaceamounts {
    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-xl-#{$space} {
        margin-#{$side}: #{$space}px;
      }
    
      .p-#{str-slice($side, 0, 1)}-xl-#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}