// Google font
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap);

@mixin font-size($size) {
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}

/* Size Application */
html {
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
}

p{
  @include font-size(16);
  line-height: 1.4;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  @include media-breakpoint-only(xs) {
    @include font-size(15);
  }
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
  line-height: 1.15;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h1 {
  @include font-size(56);
  @include media-breakpoint-only(sm) {
    @include font-size(52);
  }
  @include media-breakpoint-only(xs) {
    @include font-size(50);
  }
}

h2 {
  @include font-size(48);
  @include media-breakpoint-only(sm) {
    @include font-size(45);
  }
  @include media-breakpoint-only(xs) {
    @include font-size(40);
  }
}

h3 {
  @include font-size(32);
  @include media-breakpoint-only(sm) {
    @include font-size(28);
  }
  @include media-breakpoint-only(xs) {
    @include font-size(26);
  }
}

h4 {
  @include font-size(25);
  @include media-breakpoint-only(sm) {
    @include font-size(24);
  }
  @include media-breakpoint-only(xs) {
    @include font-size(22);
  }
}

h5 {
  @include font-size(21);
  @include media-breakpoint-only(sm) {
    @include font-size(20);
  }
  @include media-breakpoint-only(xs) {
    @include font-size(19);
  }
}

h6 {
  @include font-size(18);
  @include media-breakpoint-only(xs) {
    @include font-size(17);
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.subtext{
  @include font-size(14);
  @include media-breakpoint-only(xs) {
    @include font-size(13);
  }
}