/* Reset */
// @import '_normalize';

/*-- Vendor --*/
@import "~bootstrap/scss/bootstrap";

/* General Style */
@import '_mixins';
@import '_colour';
@import '_variables';
@import '_typography';
@import '_spacing';
@import '_form';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background:white;
}

/* Custom styles */
@import 'layout/top-navi';
@import 'layout/_page-start';
@import 'layout/_page-loading';
@import 'layout/_page-result';
// @import '_answer';

.button {
    padding: 10px 45px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    transition: color 0.25s ease, background-color 0.5s ease;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }

    &.button-alt {
        color: black;
        border-color: black;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}
