.search-result {
   .top-section {
      background-color: $blue 0%,#0093E9;
      background-image: linear-gradient(75deg, $blue 0%,#0093E9 65%, #80D0C7 100%);
   }

   .product-list {

   }

   .card {
      border: 2px solid $light-grey;
      border-radius: 15px;

      .platform {
         min-height: 80px;
      }

      .details {

      }

      .price {
         min-height: 80px;
      }
   }
}