// Top navi
.top-navi {
  padding: 10px 15px;
  .logo {
    img {
      height: 35px;
      width: auto;
    }
  }
  .top-navi-search {
    margin: 0 0 0 15px;
    .input-group {
      margin: 0;
      .form-control {
        font-size: 15px;
        padding: 15px 15px 16px 15px;
      }
      .input-group-append {
        button {
          img {
            height: 17px;
          }
        }
      }
    }
  }

  .right-panel-link {
    nav>a {
      font-size: 16px;
      font-family: 'Nunito', Arial, Helvetica, sans-serif;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}