input {
   width: 100%;
   height: 100px;
   padding: 20px;
   font-size: 20px;
   border: none;
   box-sizing: border-box;
 }
 
 .simple-keyboard {
   max-width: 850px;
 }

 .test {
    color: #cccccc;
 }
 