<template>
  <div>
    <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-between bg-white border-bottom top-navi"
    >
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="logo">
          <img src="/img/k-logo.png" />
        </div>

        <div class="search-bar" v-if="!startPage && !searchRunning">
          <form class="form-default top-navi-search">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Recipient's username"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                v-model="mainSearchItem"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  v-on:click.prevent="searchProduct"
                >
                  <img src="/img/search-icon.png" class="search-bar-icon" />
                </button>
              </div>
            </div>
          </form>
        </div>
        <h4 class="text-blue m-l-15" v-else>Krossaint</h4>
      </div>
      <div class="right-panel-link">
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">Developer</a>
          <a class="p-2 text-dark" href="#">Contact</a>
        </nav>
      </div>
    </div>
    <transition name="fade">
      <section
        class="start-page d-flex flex-column flex-md-row align-items-center"
        v-if="startPage"
      >
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2"
            >
              <div class="d-flex justify-content-center">
                <img src="/img/start-page-item.png" />
              </div>
              <h2
                class="text-blue text-center m-b-30"
              >Find your dream item true value with Krossaint</h2>
              <form class="form-default p-l-50 p-r-50 m-b-30">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search your item"
                    aria-label="Search your item"
                    aria-describedby="button-addon2"
                    v-model="mainSearchItem"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      v-on:click.prevent="searchProduct"
                    >
                      <img src="/img/search-icon.png" class="search-bar-icon" />
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section
        class="loading-page d-flex align-items-center justify-content-center"
        v-else-if="!startPage && searchRunning"
      >
        <div class>
          <h1 class="text-blue">Searching...</h1>
        </div>
      </section>

      <section class="search-result" v-else>
        <!-- Result -->
        <section class="top-section">
          <div class="container p-t-50 p-b-50">
            <div class="row">
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-1"
              >
                <div class="row">
                  <div class="col-12">
                    <div class="m-b-25">
                      <h2 class="text-white">{{ temporaryListlength }} Result found</h2>
                      <h5
                        class="text-white m-b-30"
                      >Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="m-b-25">
                      <h3 class="text-white">RM {{ minPrice }}</h3>
                      <p class="text-white bold">Lowest price</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="m-b-25">
                      <h3 class="text-white">RM {{ maxPrice }}</h3>
                      <p class="text-white bold">Highest price</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="p-t-50 p-b-50">
          <div class="container">
            <div class="row">
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-1"
              >
                <div class="product-list-top m-b-15">
                  <h4>You can get more details below:</h4>
                </div>

                <div
                  class="card p-t-15 p-b-15 p-l-15 p-r-15 m-b-15"
                  v-for="(seller, sellerIndex) in temporaryData"
                  v-bind:key="sellerIndex"
                >
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
                      <div class="platform">
                        <h5>{{ seller.merchant_name }}</h5>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-7">
                      <div class="details">
                        <p class="text-dark m-b-0">{{ seller.seller_id }}</p>
                        <h5 class="text-dark">{{ seller.title }}</h5>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-2">
                      <div class="price">
                        <h5 class="text-right">RM {{ seller.price }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </transition>
  </div>
</template>

<script>
import { async } from "q";

const axios = require("axios");

export default {
  components: {},
  data: () => ({
    startPage: true,
    searchRunning: false,
    mainSearchItem: "",
    temporaryData: [],
    temporaryListlength: "",
    maxPrice: "",
    minPrice: ""
  }),
  mounted() {},
  methods: {
    searchProduct() {
      this.getData();
    },
    async getData() {
      this.startPage = false;
      this.searchRunning = true;
      await axios({
        method: "post",
        url:
          "https://us-central1-krossaint-pnmb.cloudfunctions.net/getItemByKeyword",
        responseType: "application/json",
        data: {
          keyword: this.mainSearchItem
        }
      }).then(response => {
        let dataArrary = this.objectToArray(response);
        this.objectToArray(response);
        this.searchRunning = false;
        this.temporaryData = response.data[0].merchant;
        this.temporaryListlength = dataArrary.length;
        this.checkPrice(this.temporaryData);
      });
    },
    objectToArray(paraM) {
      return Object.keys(paraM).map(key => {
        return paraM[key];
      });
    },
    checkPrice(paraM) {
      let array = this.objectToArray(paraM);

      let high = -999;
      let low = 999;
      array.map(item => {
        console.log(item.price);
        if (parseInt(item.price) > high) {
          high = item.price;
        }
        if (parseInt(item.price) < low) {
          low = item.price;
        }
      });

      this.maxPrice = high;
      this.minPrice = low;
    }
  }
};
</script>
